@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
.mtop-1 {
  margin-top: 0.2em; }

.mtop-2 {
  margin-top: 0.4em; }

.mtop-3 {
  margin-top: 0.6em; }

.mtop-4 {
  margin-top: 0.8em; }

.mtop-5 {
  margin-top: 1em; }

.weight-thin {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300; }

.weight-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400; }

.weight-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700; }

.weight-extraBold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 1400; }

.text-xsm {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px; }

.text-sm {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px; }

.text-md {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px; }

.text-lg {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100px; }

.text-xlg {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 200px; }

* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }
  html body {
    background: #F5F5F5;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase; }
    html body #grid {
      display: grid;
      height: 100%;
      grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
      grid-template-rows: 100vh auto auto auto auto auto; }

/*banner*/
.banner {
  grid-area: banner;
  background-image: url(../media/bannerfinal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center; }
  .banner__button--nav {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20em; }
  .banner__button {
    width: 20%;
    background-image: url(../media/circuloflecha.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 170ms; }
  .banner__button:hover {
    transform: scale(1.1); }

/*navegador*/
.navbar {
  background-color: #26292C; }
  .navbar img {
    width: 70%;
    transition: all 1.5s; }
    .navbar img:hover {
      transform: rotate(360deg); }

.nav-item {
  font-size: 19px;
  letter-spacing: 2.5px; }

.nav-link {
  color: rgba(255, 255, 255, 0.87);
  transition: all 190ms; }
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.87);
    letter-spacing: 7px; }

/*index ilustración*/
.seccionUno {
  grid-area: ilus;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .seccionUno img {
    width: 47%;
    transition: all 170ms; }
    .seccionUno img:hover {
      opacity: 0.7; }

.seccionUno__fotos {
  width: 65%;
  margin-left: 1.1rem; }
  .seccionUno__fotos--arriba {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
    justify-content: flex-end; }
    .seccionUno__fotos--arriba img {
      padding: 0.4em; }
  .seccionUno__fotos--abajo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; }

.secciones__titulos {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  color: #15616d;
  letter-spacing: 7px;
  line-height: 300% !important;
  font-weight: 700;
  text-align: right;
  justify-content: flex-end; }

.seccionUno__titulo {
  font-size: 180px;
  line-height: 200%;
  margin-left: 1rem;
  margin-right: 4.5rem; }
  .seccionUno__titulo a {
    text-decoration: none;
    color: #15616d; }
    .seccionUno__titulo a p {
      display: flex;
      justify-content: flex-end; }

/*index tatuajes*/
.seccionDos {
  grid-area: tatu;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .seccionDos img {
    width: 47%;
    transition: all 170ms; }
    .seccionDos img:hover {
      opacity: 0.7; }

.seccionDos__fotos {
  width: 65%;
  order: 2;
  margin-right: 1.1rem; }
  .seccionDos__fotos--arriba {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5rem; }
    .seccionDos__fotos--arriba img {
      padding: 0.4em; }
  .seccionDos__fotos--abajo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .seccionDos__fotos--abajo img {
      padding: 0.4em; }

.secciones__titulos--dos {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  color: #15616d;
  letter-spacing: 7px;
  line-height: 300% !important;
  font-weight: 700;
  text-align: right;
  justify-content: flex-start; }

.seccionDos__titulo {
  order: 1;
  font-size: 180px;
  line-height: 200%;
  margin-left: 8rem;
  margin-right: 0.5rem; }
  .seccionDos__titulo a {
    text-decoration: none;
    color: #15616d; }
    .seccionDos__titulo a p {
      display: flex;
      justify-content: flex-start; }

/*index indumentaria*/
.seccionTres {
  grid-area: indu;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .seccionTres img {
    width: 47%;
    transition: all 170ms; }
    .seccionTres img:hover {
      opacity: 0.7; }

.seccionTres__fotos {
  width: 65%;
  margin-left: 4rem; }
  .seccionTres__fotos--arriba {
    justify-content: flex-end;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .seccionTres__fotos--arriba img {
      padding: 0.4em; }
  .seccionTres__fotos--abajo {
    justify-content: flex-start;
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .seccionTres__fotos--abajo img {
      padding: 0.4em; }

.secciones__titulos--tres {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  color: #15616d;
  letter-spacing: 7px;
  line-height: 300% !important;
  font-weight: 700;
  text-align: right;
  justify-content: flex-end; }

.seccionTres__titulo {
  font-size: 180px;
  line-height: 200%;
  margin-left: 1rem;
  margin-right: 4.5rem; }
  .seccionTres__titulo a {
    text-decoration: none;
    color: #15616d; }
    .seccionTres__titulo a h3 {
      display: flex;
      justify-content: flex-end; }

.card {
  background-color: #26292C;
  height: 20vh; }

.card h5, a {
  color: rgba(255, 255, 255, 0.87);
  width: 80%; }

.card h5 {
  font-size: 40px; }

.btn {
  padding: 0.375rem 2.75rem;
  border-color: #ffffff94;
  background-color: transparent;
  transition: all 500ms;
  color: rgba(255, 255, 255, 0.87); }

.btn:hover {
  padding: 0.375rem 7rem;
  border-color: #ffffff94;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87); }

.btn:focus {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.87); }

.modal-header .close {
  margin: -0.8rem -1rem -1rem auto;
  color: rgba(255, 255, 255, 0.87); }

.modal-header {
  background-color: #26292C;
  width: 100%; }

.modal-header h5 {
  color: rgba(255, 255, 255, 0.87); }

.btnEnviar {
  background-color: transparent;
  border: 1px solid #ced4da;
  width: 20%;
  transition: all 300ms; }

.btnEnviar:hover {
  background-color: #ced4da; }

.form-control:focus {
  box-shadow: none;
  border: 1px solid black; }

/*ilustracion html*/
#ilustracionHtml div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#ilustracionHtml div img {
  max-width: 25%;
  padding-left: 1rem;
  transition: all 170ms; }
  #ilustracionHtml div img:hover {
    opacity: 0.7; }

div.gatos {
  margin-top: 5em; }

div.margen {
  margin-top: 1.5em; }

div.proto {
  margin-top: 1.5em; }

div.proto img {
  margin-bottom: 5em; }

/*tatuajes html*/
#tatuajesHtml div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  #tatuajesHtml div img {
    max-width: 25%;
    padding-left: 1rem; }

div.arriba {
  margin-top: 5em; }

div.medio {
  margin-top: 1.5em; }

div.abajo {
  margin-top: 1.5em;
  margin-bottom: 5em; }

/*indumentaria html*/
#indumentariaHtml div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#indumentariaHtml div img {
  max-width: 25%;
  padding-left: 1rem; }

div.tesisUno {
  margin-top: 5em; }

div.tesisDos {
  margin-top: 1em; }

div.tesisTres {
  margin-top: 3em; }

div.tesisCuatro {
  margin-top: 1em; }

div.tesisCuatro img {
  margin-bottom: 5em; }

/*media queries mobile*/
@media all and (max-width: 490px) {
  /*index*/
  .banner {
    background-image: url(../media/bannerfinalmobile.jpg);
    height: 13em; }
    .banner__button--nav {
      margin-top: 0px;
      width: 60%;
      justify-content: start;
      margin-left: 2rem; }
  nav button:focus {
    border-color: #F5F5F5;
    outline: 5px auto; }
  html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto; }
  .seccionUno img {
    width: 50%; }
  .seccionUno__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
    .seccionUno__fotos--arriba img {
      padding: 0.2em; }
  .seccionUno__fotos--abajo {
    justify-content: center; }
  .seccionUno__titulo {
    line-height: 40%;
    margin-right: 1rem;
    margin-top: 1rem; }
    .seccionUno__titulo p {
      font-size: 40px; }
  .seccionDos img {
    width: 50%; }
  .seccionDos__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
    .seccionDos__fotos--arriba img {
      padding: 0.2em; }
  .seccionDos__fotos--abajo {
    justify-content: center; }
  .seccionDos__titulo {
    line-height: 40%;
    margin-left: 1.5rem;
    margin-top: 1rem; }
    .seccionDos__titulo p {
      font-size: 40px; }
  .seccionTres img {
    width: 50%;
    padding: 0.2em; }
  .seccionTres__fotos {
    margin-left: 1rem; }
  .seccionTres__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
  .seccionTres__fotos--abajo {
    margin-bottom: 1rem;
    justify-content: center; }
  .seccionTres__titulo {
    line-height: 40%;
    margin-right: 0.3rem;
    margin-top: 1.5rem; }
    .seccionTres__titulo p {
      font-size: 40px; }
  .card h5 {
    font-size: 25px; }
  .btn:hover {
    padding: 0.375rem 3.5rem; }
  /*indumentaria*/
  #ilustracionHtml div img {
    max-width: 33%;
    padding: 0.4rem; }
  div.gatos {
    margin-top: 1.5em; }
  div.proto img {
    margin-bottom: 1.5em; }
  /*tatuajes*/
  #tatuajesHtml div img {
    max-width: 33%;
    padding: 0.4rem; }
  div.arriba {
    margin-top: 1.5em; }
  div.abajo {
    margin-bottom: 1.5em; }
  /*indumetaria*/
  #indumentariaHtml div img {
    max-width: 33%;
    padding: 0.4rem; }
  div.tesisUno {
    margin-top: 1.5em; }
  div.tesisDos {
    margin-top: 0.1em; }
  div.tesisCuatro {
    margin-top: 0.1em; }
    div.tesisCuatro img {
      margin-bottom: 1.5em; } }

/*media queries tablet*/
@media all and (min-width: 491px) and (max-width: 800px) {
  /*index*/
  .banner {
    background-image: url(../media/bannerfinalmobile.jpg);
    height: 25em; }
    .banner__button--nav {
      margin-top: 0px;
      width: 60%;
      justify-content: start;
      margin-left: 3rem; }
  nav button:focus {
    border-color: #F5F5F5;
    outline: 5px auto; }
  html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto; }
  .seccionUno img {
    width: 50%; }
  .seccionUno__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
    .seccionUno__fotos--arriba img {
      padding: 0.2em; }
  .seccionUno__fotos--abajo {
    justify-content: center; }
  .seccionUno__titulo {
    line-height: 83%;
    margin-right: 1rem;
    margin-top: 1rem; }
    .seccionUno__titulo p {
      font-size: 70px; }
  .seccionDos img {
    width: 50%; }
  .seccionDos__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
    .seccionDos__fotos--arriba img {
      padding: 0.2em; }
  .seccionDos__fotos--abajo {
    justify-content: center; }
  .seccionDos__titulo {
    line-height: 83%;
    margin-left: 1.5rem;
    margin-top: 1rem; }
    .seccionDos__titulo p {
      font-size: 70px; }
  .seccionTres img {
    width: 50%;
    padding: 0.2em; }
  .seccionTres__fotos {
    margin-left: 1rem; }
  .seccionTres__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
  .seccionTres__fotos--abajo {
    margin-bottom: 1rem;
    justify-content: center; }
  .seccionTres__titulo {
    line-height: 83%;
    margin-right: 0.3rem;
    margin-top: 1.5rem; }
    .seccionTres__titulo p {
      font-size: 70px; }
  .card h5 {
    font-size: 33px;
    margin-left: 1rem; }
  .btn:hover {
    padding: 0.375rem 3.5rem; } }

@media all and (min-width: 801px) and (max-width: 1200px) {
  /*index*/
  .banner {
    background-image: url(../media/bannerfinalmobile.jpg);
    height: 33em; }
    .banner__button--nav {
      margin-top: 0px;
      width: 60%;
      justify-content: start;
      margin-left: 3.5rem; }
  nav button:focus {
    border-color: #F5F5F5;
    outline: 5px auto; }
  html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto; }
  .seccionUno img {
    width: 50%; }
  .seccionUno__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
    .seccionUno__fotos--arriba img {
      padding: 0.2em; }
  .seccionUno__fotos--abajo {
    justify-content: center; }
  .seccionUno__titulo {
    line-height: 113%;
    margin-right: 1rem;
    margin-top: 1rem; }
    .seccionUno__titulo p {
      font-size: 94px; }
  .seccionDos img {
    width: 50%; }
  .seccionDos__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
    .seccionDos__fotos--arriba img {
      padding: 0.2em; }
  .seccionDos__fotos--abajo {
    justify-content: center; }
  .seccionDos__titulo {
    line-height: 113%;
    margin-left: 1.5rem;
    margin-top: 1rem; }
    .seccionDos__titulo p {
      font-size: 94px; }
  .seccionTres img {
    width: 50%;
    padding: 0.2em; }
  .seccionTres__fotos {
    margin-left: 1rem; }
  .seccionTres__fotos--arriba {
    padding-top: 1rem;
    justify-content: center; }
  .seccionTres__fotos--abajo {
    margin-bottom: 1rem;
    justify-content: center; }
  .seccionTres__titulo {
    line-height: 113%;
    margin-right: 0.3rem;
    margin-top: 1.5rem; }
    .seccionTres__titulo p {
      font-size: 94px; }
  .card h5 {
    font-size: 45px;
    margin-left: 1rem; }
  .btn:hover {
    padding: 0.375rem 3.5rem; } }
