.mainClases {.card-img-top {width:40%;
							margin-left: 3rem;}
			.card {background-color:#F5F5F5;
					height: 80vh;
					.card-title {color: #212529;
								margin-left: 3rem;
								margin-top: 2rem;}
					.card-text {margin-left: 3rem;
								text-transform: none;}}
			.subtitulo {font-size: 1.4rem;
						text-decoration: underline;}
			.ultimoParrafo {border-bottom: 1px solid gray;
							width: 72%;
							padding-bottom: 1.5rem;}
			.margenSeparador {padding-top: 2rem;}
			}