.flexContainer {display: flex;
    align-items: center;
    justify-content: space-evenly;
		
 .modal-dialog {width: 500px;
   	margin: 3rem;
	margin-top: 8rem;
	margin-bottom: 8rem;}}


  .listaContacto {border:1px solid black;
  					padding: 3rem;
  				img {width:3rem;
  					margin-left:5rem;
  					margin-top: 1rem;}
				h3 {font-size: 3rem;
					margin-bottom: 1rem;}}
footer {img {width:100%;}}