
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');


*{margin: 0px;
padding: 0px}


html {scroll-behavior: smooth;

		body {background:#F5F5F5;
			font-family:'Roboto Condensed', sans-serif;
			text-transform: uppercase;	

		#grid {display: grid;
			height: 100%;
			grid-template-areas: 
			"banner"
			"nav"
			"ilus"
			"tatu"
			"indu"
			"footer";
		    grid-template-rows: 100vh auto auto auto auto auto}
	    }
	    }
