
/*media queries mobile*/

@media all and (max-width:490px)

{ /*index*/
	.banner {
			background-image: url(../media/bannerfinalmobile.jpg);
			height: 13em;

				&__button--nav {margin-top:0px;
								width: 60%;
								justify-content: start;
								margin-left:2rem;}
			}

	nav {
		button:focus {border-color: #F5F5F5;
					outline: 5px auto;}
		}

	html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto;
					}
	.seccionUno {
		img {width: 50%;}

		&__fotos--arriba {
    		padding-top: 1rem;
 			justify-content: center;
 				img {padding: 0.2em}
 						}
 		&__fotos--abajo {
    		justify-content: center;}
    					}

    .seccionUno__titulo {line-height: 40%;
    					margin-right: 1rem;
    					margin-top: 1rem;
    		p {font-size: 40px}

    					}

    .seccionDos {
		img {width: 50%;}

		&__fotos--arriba {
    		padding-top: 1rem;
 			justify-content: center;
 				img {padding: 0.2em}
 						}
 		&__fotos--abajo {
    		justify-content: center;}
    					}

    .seccionDos__titulo {line-height: 40%;
    					margin-left: 1.5rem;
    					margin-top: 1rem;
    		p {font-size: 40px}

    					}

    .seccionTres {
		img {width: 50%;
			padding: 0.2em}

		&__fotos {margin-left: 1rem;}	

		&__fotos--arriba {
    		padding-top: 1rem;
 			justify-content: center;
 						}
 		&__fotos--abajo {margin-bottom: 1rem;
    		justify-content: center;}
    					}

    .seccionTres__titulo {line-height: 40%;
    					margin-right: 0.3rem;
    					margin-top: 1.5rem;
    		p {font-size: 40px}

    					}
	.card {
		h5 {font-size: 25px;}

    		}
    .btn:hover {padding: 0.375rem 3.5rem;}

/*indumentaria*/

  	#ilustracionHtml {div {img {max-width: 33%;
  							padding: 0.4rem;}
  							}
  							}

  	div.gatos {margin-top: 1.5em;}

	div.proto {img {margin-bottom: 1.5em}
  			}

 /*tatuajes*/

	 #tatuajesHtml {div {img {max-width: 33%;
  							padding: 0.4rem;}
  							}
  							}

  	div.arriba {margin-top: 1.5em;}

	div.abajo {margin-bottom: 1.5em}



/*indumetaria*/

	 #indumentariaHtml {div {img {max-width: 33%;
  							padding: 0.4rem;}
  							}
  							}

	div {&.tesisUno {margin-top: 1.5em;}

		&.tesisDos {margin-top: 0.1em;}

		&.tesisCuatro {margin-top: 0.1em;
						img {margin-bottom:1.5em;}}
}

/*biografia*/

main.biografia {display: block;
                    .izquierda {border-bottom: 1px solid black;
                                border-right: none;
                                width: 100%;
                                margin-top: 2rem;
                                margin-bottom: 2rem}
                    .derecha {justify-content: space-evenly;
                            align-content: center;
                            flex-wrap: wrap;
                            width: 100%;}            
                }

.biografia {.container {margin-left: 1rem;

                .FotoPresentacion {width: 55%;
                                    float: left;
                                    padding: 1rem;
                                    margin-left: 1rem}
                p { letter-spacing: 0.04rem;
                    width: 95%;
                    padding-left: 2rem;
                        &.PrimerParrafo {padding-top: 1rem;
                                        padding-left: 4rem}
                    }
                h3 {margin-bottom: 3rem;
                    margin-top: 1rem;
                    margin-left: 1rem;
                    &.tituloBio {margin-top: 0rem;
                        margin-bottom: 0rem}}
                    }
                iframe {margin-left: 1rem;
                    width:90%;
                    margin-bottom: 2rem;}
                }
footer.bio {width: 100%;}
}

/*media queries tablet*/

@media all and (min-width: 491px) and (max-width: 800px)

{ 
/*biografia*/

main.biografia {display: block;
                    .izquierda {border-bottom: 1px solid black;
                                border-right: none;
                                width: 100%;
                                margin-top: 2rem;
                                margin-bottom: 2rem}
                    .derecha {justify-content: space-evenly;
                            align-content: center;
                            flex-wrap: wrap;
                            width: 100%;}            
                }

.biografia {.container {margin-left: 1rem;

                .FotoPresentacion {width: 45%;
                                    float: left;
                                    padding: 1rem;
                                    margin-left: 1rem}
                p { letter-spacing: 0.04rem;
                    width: 91%;
                    padding-left: 2rem;
                        &.PrimerParrafo {padding-top: 1rem;
                                        padding-left: 4rem}
                    }
                h3 {margin-bottom: 3rem;
                    margin-top: 1rem;
                    margin-left: 1rem;
                    &.tituloBio {margin-top: 0rem;
                        margin-bottom: 0rem}}
                    }
                iframe {margin-left: 1rem;
                    width:98%;
                    margin-bottom: 2rem;}
                }
footer.bio {width: 100%;}

/*index*/
    .banner {
            background-image: url(../media/bannerfinalmobile.jpg);
            height: 25em;

                &__button--nav {margin-top:0px;
                                width: 60%;
                                justify-content: start;
                                margin-left:3rem;}
            }

    nav {
        button:focus {border-color: #F5F5F5;
                    outline: 5px auto;}
        }

    html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto;
                    }
    .seccionUno {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionUno__titulo {line-height: 83%;
                        margin-right: 1rem;
                        margin-top: 1rem;
            p {font-size: 70px}

                        }

    .seccionDos {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionDos__titulo {line-height: 83%;
                        margin-left: 1.5rem;
                        margin-top: 1rem;
            p {font-size: 70px}

                        }

    .seccionTres {
        img {width: 50%;
            padding: 0.2em}

        &__fotos {margin-left: 1rem;}   

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                        }
        &__fotos--abajo {margin-bottom: 1rem;
            justify-content: center;}
                        }

    .seccionTres__titulo {line-height: 83%;
                        margin-right: 0.3rem;
                        margin-top: 1.5rem;
            p {font-size: 70px}

                        }
    .card {
        h5 {font-size: 33px;
            margin-left: 1rem;}

            }
    .btn:hover {padding: 0.375rem 3.5rem;}
}

/*indumentaria*/

    #ilustracionHtml {div {img {max-width: 33%;
                            padding: 0.4rem;}
                            }
                            }

    div.gatos {margin-top: 1.5em;}

    div.proto {img {margin-bottom: 1.5em}
            }

 /*tatuajes*/

     #tatuajesHtml {div {img {max-width: 33%;
                            padding: 0.4rem;}
                            }
                            }

    div.arriba {margin-top: 1.5em;}

    div.abajo {margin-bottom: 1.5em}



/*indumetaria*/

     #indumentariaHtml {div {img {max-width: 33%;
                            padding: 0.4rem;}
                            }
                            }

    div {&.tesisUno {margin-top: 1.5em;}

        &.tesisDos {margin-top: 0.1em;}

        &.tesisCuatro {margin-top: 0.1em;
                        img {margin-bottom:1.5em;}}
}



@media all and (min-width: 801px) and (max-width: 1200px)

{main.biografia {display:flex;
                    .izquierda {border-right: 1px solid black;
                                width: 50%;
                                margin-top: 2rem;
                                margin-bottom: 2rem}
                    .derecha {display: flex;
                            justify-content: space-evenly;
                            align-content: center;
                            flex-wrap: wrap;
                            width: 50%;}            
                }

.biografia {.container {margin-left: 1rem;
            display: inline;

                .FotoPresentacion {width: 50%;
                                    float: left;
                                    padding: 1rem;
                                    margin-left: 1.5rem;}
                p { letter-spacing: 0.04rem;
                    width: 90%;
                    margin-left: 2rem;
                        &.PrimerParrafo {padding-top: 2.5rem;
                                        padding-left: 2.5rem}
                    }
                h3 {margin-bottom: 3rem;
                    margin-top: -2.5rem;
                    margin-left: 2rem;
                    &.tituloBio {margin-top: 0rem;
                        margin-bottom: 0rem}}
                    }
                iframe {margin-left: 2rem;
                        width: 90%;}
                }
footer.bio {width: 100%;}

/*index*/
    .banner {
            background-image: url(../media/bannerfinal.jpg);
            height: 33em;

                &__button--nav {margin-top:0px;
                                width: 60%;
                                justify-content: start;
                                margin-left:3.5rem;}
            }

    nav {
        button:focus {border-color: #F5F5F5;
                    outline: 5px auto;}
        }

    html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto;
                    }
    .seccionUno {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionUno__titulo {line-height: 113%;
                        margin-right: 1rem;
                        margin-top: 1rem;
            p {font-size: 94px}

                        }

    .seccionDos {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionDos__titulo {line-height: 113%;
                        margin-left: 1.5rem;
                        margin-top: 1rem;
            p {font-size: 94px}

                        }

    .seccionTres {
        img {width: 50%;
            padding: 0.2em}

        &__fotos {margin-left: 1rem;}   

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                        }
        &__fotos--abajo {margin-bottom: 1rem;
            justify-content: center;}
                        }

    .seccionTres__titulo {line-height: 113%;
                        margin-right: 0.3rem;
                        margin-top: 1.5rem;
            p {font-size: 94px}

                        }
    .card {
        h5 {font-size: 45px;
            margin-left: 1rem;}

            }
    .btn:hover {padding: 0.375rem 3.5rem;}


}


@media all and (min-width: 1201px) and (max-width: 1400px)

{main.biografia {display:flex;
                    .izquierda {border-right: 1px solid black;
                                width: 50%;
                                margin-top: 2rem;
                                margin-bottom: 2rem}
                    .derecha {display: flex;
                            justify-content: space-evenly;
                            align-content: center;
                            flex-wrap: wrap;
                            width: 50%;}            
                }

.biografia {.container {margin-left: 1rem;
            display: inline;

                .FotoPresentacion {width: 50%;
                                    float: left;
                                    padding: 1rem;
                                    margin-left: 1.5rem;}
                p { letter-spacing: 0.04rem;
                    width: 90%;
                    margin-left: 2rem;
                        &.PrimerParrafo {padding-top: 2.5rem;
                                        padding-left: 2.5rem}
                    }
                h3 {margin-bottom: 3rem;
                    margin-top: -2.5rem;
                    margin-left: 2rem;
                    &.tituloBio {margin-top: 0rem;
                        margin-bottom: 0rem}}
                    }
                iframe {margin-left: 2rem;
                        width: 90%;}
                }
footer.bio {width: 100%;}

 /*index*/
    .banner {
            background-image: url(../media/bannerfinal.jpg);
            height: 44em;

                &__button--nav {margin-top:0px;
                                width: 60%;
                                justify-content: start;
                                margin-left:4.5rem;}
            }

    nav {
        button:focus {border-color: #F5F5F5;
                    outline: 5px auto;}
        }

    html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto;
                    }
    .seccionUno {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionUno__titulo {line-height: 154%;
                        margin-right: 1rem;
                        margin-top: 1rem;
            p {font-size: 135px}

                        }

    .seccionDos {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionDos__titulo {line-height: 154%;
                        margin-left: 1.5rem;
                        margin-top: 1rem;
            p {font-size: 135px}

                        }

    .seccionTres {
        img {width: 50%;
            padding: 0.2em}

        &__fotos {margin-left: 1rem;}   

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                        }
        &__fotos--abajo {margin-bottom: 1rem;
            justify-content: center;}
                        }

    .seccionTres__titulo {line-height: 154%;
                        margin-right: 0.3rem;
                        margin-top: 1.5rem;
            p {font-size: 135px}

                        }
    .card {
        h5 {font-size: 45px;
            margin-left: 1rem;}

            }
    .btn:hover {padding: 0.375rem 3.5rem;}
}

@media all and (min-width: 1201px) and (max-width: 1400px)

{ /*index*/
    .banner {
            background-image: url(../media/bannerfinal.jpg);
            height: 44em;

                &__button--nav {margin-top:0px;
                                width: 60%;
                                justify-content: start;
                                margin-left:4.5rem;}
            }

    nav {
        button:focus {border-color: #F5F5F5;
                    outline: 5px auto;}
        }

    html body #grid {
    display: grid;
    height: 100%;
    grid-template-areas: "banner" "nav" "ilus" "tatu" "indu" "footer";
    grid-template-rows: auto auto auto auto auto auto;
                    }
    .seccionUno {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionUno__titulo {line-height: 154%;
                        margin-right: 1rem;
                        margin-top: 1rem;
            p {font-size: 135px}

                        }

    .seccionDos {
        img {width: 50%;}

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                img {padding: 0.2em}
                        }
        &__fotos--abajo {
            justify-content: center;}
                        }

    .seccionDos__titulo {line-height: 154%;
                        margin-left: 1.5rem;
                        margin-top: 1rem;
            p {font-size: 135px}

                        }

    .seccionTres {
        img {width: 50%;
            padding: 0.2em}

        &__fotos {margin-left: 1rem;}   

        &__fotos--arriba {
            padding-top: 1rem;
            justify-content: center;
                        }
        &__fotos--abajo {margin-bottom: 1rem;
            justify-content: center;}
                        }

    .seccionTres__titulo {line-height: 154%;
                        margin-right: 0.3rem;
                        margin-top: 1.5rem;
            p {font-size: 135px}

                        }
    .card {
        h5 {font-size: 45px;
            margin-left: 1rem;}

            }
    .btn:hover {padding: 0.375rem 3.5rem;}
}


@media all and (min-width: 1401px)

{

/*ilustracion html*/


#ilustracionHtml div {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}

#ilustracionHtml div img {max-width: 25%;
    padding-left:1rem;
    transition: all 170ms;

        &:hover {opacity: 0.7}
    }

div.gatos {margin-top: 5em;}

div.margen {margin-top: 1.5em;}

div.proto {margin-top: 1.5em;}

div.proto img {margin-bottom: 5em;}


 /*tatuajes html*/


#tatuajesHtml div {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

                    img {max-width: 25%;
                    padding-left:1rem;}
                    }

div {&.arriba {margin-top: 5em;}

    &.medio {margin-top: 1.5em;}

    &.abajo {margin-top: 1.5em;
            margin-bottom: 5em;}
    }

    
/*indumentaria html*/


#indumentariaHtml div {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}

#indumentariaHtml div img {max-width: 25%;
    padding-left:1rem;}

div.tesisUno {margin-top: 5em;
}

div.tesisDos {margin-top: 1em}

div.tesisTres {margin-top: 3em;}

div.tesisCuatro {margin-top:1em;}

div.tesisCuatro img {margin-bottom:5em;}

}