.tituloMuestras {margin-top: 4rem;
				margin-left: 4rem;
				font-size: 40px;
				border-bottom: 0.5px solid black;
				width: 93%;}

.muestras {display: flex;
			justify-content: space-evenly;

			.card {background-color: white;
					margin-top: 4rem;
					margin-bottom: 28rem;
					.direccion {text-transform: none;}
					.card-title {color: #26292C;}
					a {color: #26292C;
						border-color: black;}
				}
			}