

/*tatuajes html*/


#tatuajesHtml div {display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

					img {max-width: 25%;
					padding-left:1rem;}
					}

div {&.arriba {margin-top: 5em;}

	&.medio {margin-top: 1.5em;}

	&.abajo {margin-top: 1.5em;
			margin-bottom: 5em;}
	}
